<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Client Credential</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
      integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Client Credential Grant</h1>
    {{if not .Token}}
    <div class="text-center alert alert-danger" role="alert">
      <b>{{.ErrorTitle}}</b>
      <br />
      {{.ErrorContent}}
    </div>
    {{end}} {{if .Token}} Detail response:
    <br />
    <ul>
      <li>Access Token: {{.Token.AccessToken}}</li>
      <li>Token Type: {{.Token.TokenType}}</li>
      <li>Expires In: {{.Expiry}}</li>
      <li>Scope: {{.Scope}}</li>
    </ul>
    {{end}}
  </body>
</html>
